<p>Prénom : {{contact.firstname}}</p>
<p>Nom : {{contact.lastname}}</p>
<p>Téléphone : {{contact.phone}}</p>
<p>Email : {{contact.email}}</p>
<p>Bien concerné : {{contact.property.title}}</p>
<p>Message : {{contact.message}}</p>